/* style */
.card_wrapper {
 border: 2px solid gray;
 margin: 20px;
}

.textPad {
 padding-left: 20px;
}

.flexDivs {
 margin-top: 20px;
 display: flex;
}

.redColor {
 color: red;
}

.toggleIconNone {
 display: none;
}
.toggleIconBlock {
 display: block;
}
